.idea
.vscode

session_token

terraform/plan
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform
terraform/.terraform.tfstate.lock.info

lambda/ping.zip
lambda/pong.zip
